.alert {
    margin-left: -15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 0 0 0;
}

.alert-container {
    max-width: 600px;
    min-width: 500px;
}

.bfh-selectbox {
    margin-bottom: 10px !important;
    z-index: 1000;
}

.bfh-selectbox > .bfh-selectbox-toggle {
    padding: 5px;
}

.bfh-selectbox-options a {
    padding: 3px 0px;
}

.btn-group {
    width: 100%;
}

.checkbox {
    margin-bottom: 5px;
    padding-left: 10px;
}

.checkbox_plain {
    margin-bottom: 5px;
    padding-left: 15px;
}

.checkbox_plain_note {
    font-style: italic;
    margin-bottom: 5px;
    padding-left: 32px;
}

.checkbox_plain_tight {
    margin-bottom: 0px;
    padding-left: 15px;
}

.checkbox_plain_top {
    margin-top: 7px;
    padding-left: 15px;
}

.cp-small {
    margin-left: 35px;
    overflow: hidden;
    /*background-color: rgb(226, 226, 226); !important;*/
}

.github {
    float: left;
    margin: 16px 20px 0px 0px;
    position: relative;
}

.github_logo path {
    fill: black;
}

.input-column-container {
    float: left;
    width: 100%;
}

.input-column-container-block {
    width: 100%;
}

.input-column-left {
    float: left;
    margin-right: 20px;
    overflow: hidden;
    width: 315px;
}

.input-column-right {
    border-left: 1px solid rgb(228, 228, 228);
    height: 100%;
    margin-left: 20px;
    overflow: hidden;
    padding-left: 20px;
}

.input-group {
    margin-bottom: 8px;
    width: 300px;
}

.input-group-wide-width {
    margin-bottom: 8px;
    width: 400px;
}

.nav-tabs {
    border-bottom: 0px !important;
    border-top: 1px solid #ddd;
    margin-left: -1px;
}

.nav-tabs > li {
    margin-bottom: 0 !important;
    margin-top: -1px !important;
}

.nav-tabs > li > a {
    border: 1px solid transparent !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-radius: 0px !important;
    line-height: 20px !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    -moz-border-radius: 0px !important;
    -moz-border-radius-bottomleft: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -webkit-border-radius: 0px !important;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background-color: #ffffff !important;
    border: 1px solid #ddd !important;
    border-top-color: transparent !important;
    color: #555555 !important;
    cursor: default !important;
}

.pick-a-color-markup {
    margin-left: 15px;
    z-index: 1000;
}

.picker-indicator, 
.slide-indicator {
    position: static;
}

.progress {
    margin-bottom: 5px;
    margin-left: 50px;
    margin-top: 13px;
}

.radio {
    margin-bottom: 5px;
    padding-left: 10px;
}

.remainingTime {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    height: 0px;
    text-align: center;
}

.social {
    display: inline-block;
    float: right;
    margin: 0px;
    overflow: hidden;
    position: relative;
    visibility: visible;
    z-index: 1000;
    /* height: 25px; */
}

.tab-content {
    border: 1px solid #ddd;
    border-bottom: 0px;
    padding: 0px 0px 5px 0px;
}

.tabbable {
    margin: 6px 6px 0 6px;
}

#acknowledge {
    color: #696969;
    display: block;
    float: left;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}

#advanced-setting {
    margin-left: 15px;
}

#advanced-setting-sub {
    margin-left: 30px;
}

#btnPlay {
    margin-right: 0px !important;
}

#btnPlayDropdown {
    margin-right: 10px !important;
    width: auto !important;
}

#btnadvancedcontainer {
    height: 100%;
}

#btnadvancedcontainer .childDiv {
    bottom: 20px;
    left: 0;
    position: absolute;
}

#container {
    height: 100%;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 95%;
}

#contentall {		
    height: 100%;
    overflow-y: scroll;
}

#contentall pre {
    background-color: #ffffff !important;
    border: 0px;
    display: block;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    margin-top: 10px;
    padding: 0px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: normal;
}

#contentall_inner {
    background-color: #ffffff !important;
    border: 1px solid #000000;
    height: 100%;
    padding: 10px;
    position: relative;
}

#contentall_outer {
    display: block;
    height: 100%;
    overflow: hidden;
    padding-top: 3px;
    position: absolute;
    width: 100%;
}

#controls {
    clear: both;
    display: inline-block;
    width: 100%;
}

#controls button {
    float: left;
    margin-right: 10px;
    margin-top: 8px;
    width: 100px;
}

#develop {
    display: block;
    float: left;
    width: 100%;
}

#develop.popup {
    margin-bottom: 25px;
}

#develop_div {
    display: block;
    width: 100%;
}

#disclaimer {
    font-size: 11px;
    margin-top: 3px;
    width: 80%;
}

#fact {
    width: 85%;
}

#focal-guide {	
    border-left: 1px solid #000000;
    display: block;
    position: absolute;
    z-index: 1200;
}

#focal-guide.bottom {
    height: 0px;
    top: 0px;
}

#focal-guide.top {	
    height: 0px;
    top: 0px;
}

#heading {
    font-size: 18px;
}

#letterChar {
    white-space: pre;
}

#popup-container {
    height: 480px;
    width: 400px;
}

#sentence {		
    direction: ltr;
    margin-left: -50%;
    overflow: hidden;
    white-space: nowrap;
}

#sentence_inner {
    display: inline-block;
    left: 50%;
    position: relative;
}

#sentence_outer {
    bottom: 5px;
    display: block;
    overflow: hidden;
    padding-top: 3px;
    position: absolute;
    width: 100%;
}

#spacer {
    height: 8px;
}

#status {
    clear: both;
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    text-align: right;
    width: 100%;
}

#status p {
    margin: 0px;
}

#update_log {
    font-family: courier;
    font-size: 12px;
}

#update_log h2 {
    color: #3399ff;
    font-size: 14px;
}

#update_log li {
    line-height: 14px;
}

#version {
    color: #3399ff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
}

#welcome_container {
    margin: 30px 0px 0px 30px;
}

#word {
    direction: ltr;
}

#word-container {
    display: table;
    float: none;
    font-family: Consolas;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    word-wrap: normal;
}

#word-container span { 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

body {
    background: white;
    color: black;
}

h1 {
    display: block;
    margin: auto;
    width: auto;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 1;
}

h4 {
    color: #3399ff;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
}

label {
    display: block;
    font-weight: normal;
    margin-bottom: 2px;
}