.autoselectNotification_SR {
    background: #3399ff;
    background-image: url('chrome-extension://__MSG_@@extension_id__/src/graphics/notificationBanner.png');
    background-position: left middle;
    background-repeat: no-repeat;
    border: 4px solid #3399ff;
    border-radius: 10px 10px 0px 0px;
    color: #3399ff;
    display: table-cell;
    height: 60px;
    left: 50%;
    overflow: hidden;
    padding: 7px 0 0 45px !important;
    position: fixed;
    text-align: left;
    text-indent: 100%;
    top: 95%;
    vertical-align: middle;
    white-space: nowrap;
    width: 665px;
    /* Hide the text. */
}

.outlineElement_SR {
    background-color: #e4eff9;
    background-image: url('chrome-extension://__MSG_@@extension_id__/src/graphics/icon16.png');
    background-position: right top;
    background-repeat: no-repeat;
    outline: 2px #3399ff solid;
}